*.iml
.gradle
/local.properties

app/release

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/misc.xml
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/deploymentTargetDropDown.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
